@media screen and (max-width: 500px){
    .header{
        /* font-size: 5px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 182px;
        margin: 120px;
        padding: 0px;
        margin-left: 4px;
        /* height: 100%; */
    }
    #time{
        background-color: yellow;
        border-radius: 10px;
        margin-top: 44px;
        height: 100%;
        /* margin-right: 34px; */
        border: 2px inset black;
        /* display: flex; */
        /* flex-direction: column; */
    }
}